body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/*menu principal .menu-secundario .menu-terceario .menu-cuateario*/
.menu-principal .menu-secundario .menu-terceario .menu-cuateario {
  --background-color: #1ef2ee;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
}

.generaciones {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 0;
  background-color: blue;
}

.pokemonsGeneracion {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
}

.PkgenC{
  height: 200px;
  overflow-y: scroll;
}

/*menu secundario*/

.tipos {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  left: 0;
  background-color: blue;
}

.pokemonsTipos {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
}

.PktipoC {
  height: 200px;
  overflow-y: scroll;
}

/*menu terceario*/

.regions {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  left: 0;
  background-color: blue;
}

.pokemonsRegions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
}

.PkregionC {
  height: 200px;
  overflow-y: scroll;
}

/*menu cuarteario*/

.abilidades {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  left: 0;
  background-color: blue;
}

.pokemonsAbilidades {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
}

.PkabilidadC {
  height: 200px;
  overflow-y: scroll;
}

/*contenido*/
.contenido {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
}