body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(180deg, #b3e5fc, #e1f5fe);
    margin: 0;
    padding: 0;
  }
  h1 { background-color: #0288d1; color: white; margin:0; padding:15px; font-size:1.8rem;}
  .containerMinimal { margin:20px; }

  input, button { padding:10px; font-size:1rem; margin-top:10px;}
  button { background-color:#0288d1; color:white; border:none; cursor:pointer; border-radius:5px; margin-left:5px; transition:0.3s;}
  button:hover { background-color:#0277bd;}

  .comparacion-vertical {
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:center;
    gap:10px;
    margin:20px 0;
  }
  .imagen-con-info {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
  }

  .comparacion-vertical img {
    max-height: 50px; /*150px;*/
    width:auto;
    border:4px solid transparent;
    border-radius:10px;
    background-color:rgba(255,255,255,0.6);
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.3));
  }

  .info {
    margin-top:20px;
    background:white;
    display:inline-block;
    padding:15px 20px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.25);
    text-align:left;
    max-width:90%;
  }

  /*barras laterales*/
  
 .containerBarras { margin:20px; }
  
  .comparacion-vertical {
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:center;
    gap:10px;
    margin:20px 0;
  }

  .barra {
    width: 20px;
    border-radius:10px;
    transition: height 0.5s;
  }
  .barra-ash { background-color:#4caf50;}
  .barra-pokemon { background-color:#f44336;}

  .comparacion-vertical img {
    max-height:150px;
    width:auto;
    border:4px solid transparent;
    border-radius:10px;
    background-color:rgba(255,255,255,0.6);
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.3));
  }
