:root {
    --main: #ef5350;
    --blue: #063970;
    --bg: #e2e8f0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background: var(--bg);
}


/* Panel Izquierdo */

.sidebar {
    width: 320px;
    background: #fff;
    border-right: 2px solid #cbd5e1;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    background: var(--main);
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 1.2rem;
}

.list .p-types_poekmons {
    flex: 1;
    overflow-y: auto;
}

.item {
    padding: 12px 20px;
    border-bottom: 1px solid #f1f5f9;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.item:hover {
    background: #fee2e2;
    color: var(--main);
}

.nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #eee;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 4px;
}


/* Panel de Datos (Dashboard) */

.main {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

h3 {
    border-bottom: 2px solid var(--main);
    padding-bottom: 5px;
    color: var(--blue);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 4px 0;
    border-bottom: 1px solid #f1f5f9;
    font-size: 0.9rem;
}

.badge {
    background: #334155;
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 5px;
}

#json-raw {
    background: #1e293b;
    color: #38bdf8;
    padding: 15px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 0.8rem;
    overflow-x: scroll;
    /*auto;*/
}

#statsChart {
    width: 100px;
    /*250*/
    height: 100px;
}

#statsChart2 {
    width: 150px;
    height: 150px;
}


/*types*/

#p-types_poekmons {
    overflow-y: scroll;
    width: 150px;
    height: 150px;
}


/*habilidades*/

#p-abilities_poekmons {
    overflow-y: scroll;
    width: 150px;
    height: 150px;
}


/*location_area*/

#p-location_area {
    overflow-y: scroll;
    width: 150px;
    height: 150px;
}


/*tabla de estado quien gana a cada tipo*/

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #a8ff78, #78ffd6);
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #2e7d32;
    margin-bottom: 30px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

input,
button {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    background: #2e7d32;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #1b5e20;
}

.type-section {
    margin-top: 30px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

h2 {
    text-transform: capitalize;
    color: #1b5e20;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.type {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}


/* Colores de tipos */

.grass {
    background: #78C850;
}

.fire {
    background: #F08030;
}

.water {
    background: #6890F0;
}

.ground {
    background: #E0C068;
}

.rock {
    background: #B8A038;
}

.flying {
    background: #A890F0;
}

.bug {
    background: #A8B820;
}

.poison {
    background: #A040A0;
}

.ice {
    background: #98D8D8;
    color: #000;
}

.dragon {
    background: #7038F8;
}

.steel {
    background: #B8B8D0;
    color: #000;
}

.electric {
    background: #F8D030;
    color: #000;
}

.fairy {
    background: #EE99AC;
}


/*tabla de estado quien gana a cada tipo*/


/*css species evoluciones*/

:root {
    --main: #ef5350;
    --blue: #063970;
    --bg: #e2e8f0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background: var(--bg);
}


/* Panel Izquierdo */

.sidebar {
    width: 320px;
    background: #fff;
    border-right: 2px solid #cbd5e1;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    background: var(--main);
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 1.2rem;
}

.list {
    flex: 1;
    overflow-y: auto;
}

.item {
    padding: 12px 20px;
    border-bottom: 1px solid #f1f5f9;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.item:hover {
    background: #fee2e2;
    color: var(--main);
}

.nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #eee;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background: var(--blue);
    color: white;
    border: none;
    border-radius: 4px;
}


/* Panel de Datos (Dashboard) */

.main {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

h3 {
    border-bottom: 2px solid var(--main);
    padding-bottom: 5px;
    color: var(--blue);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 4px 0;
    border-bottom: 1px solid #f1f5f9;
    font-size: 0.9rem;
}

.badge {
    background: #334155;
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 5px;
}

#json-raw {
    background: #1e293b;
    color: #38bdf8;
    padding: 15px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 0.8rem;
    overflow-x: auto;
}

#statsChart {
    width: 250px;
    height: 250px;
}


/*types*/

#p-types_damages {
    overflow-y: scroll;
    width: 150px;
    height: 150px;
}

#p-types_poekmons {
    overflow-y: scroll;
    width: 150px;
    height: 150px;
}

#p-abilities_poekmons {
    overflow-y: scroll;
    width: 150px;
    height: 150px;
}


/*variedades*/

.varieties {
    background: #e9fbe9;
    /*se modifica segun el js*/
    /*border: 2px solid #a6d3a6;*/
    border-radius: 12px;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.varieties img {
    width: 120px;
    height: 120px;
    margin: 5px auto;
}


/*evoluciones*/

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #c3f0c8, #a6e6b6);
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2d572c;
}

.buttons {
    margin: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #45a049;
}

.evolution-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.evo {
    background: #e9fbe9;
    border: 2px solid #a6d3a6;
    border-radius: 12px;
    padding: 15px;
    width: 100px;
    width: 200px;
    text-align: center;
}

.evo img {
    width: 120px;
    height: 120px;
    margin: 5px auto;
}

.conditions {
    font-size: 0.85em;
    text-align: left;
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
}

.conditions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.conditions li {
    margin: 3px 0;
}

.is-baby {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}


/*fin epecies  y evoluciones */