.comparacion {
  display:flex;
  align-items:flex-end;
  gap:10px;
  justify-content:center;
}

.barra {
  width:20px;
  background:#ccc;
  border-radius:10px;
  transition:height 0.5s;
}

/* V1 */
.v1 /*.barra-ash*/{ background:#4caf50; }
.v1 /*.barra-pokemon*/ { background:#f44336; }

/* V2 */
.v2 img { position:absolute; bottom:0; }
.v2 /*.comparacion*/ { position:relative; height:300px; }

/* V3 */
.v3 /*.barra*/ { width:10px; opacity:0.7; }

/* V4 */
.v4 .barra { width:30px; border-radius:0; }
